.footer {
    background-color: $color-dark;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $base*4 $base*8;
        box-shadow: 0 0 16px rgba($color-blue-dark, 0.2);
        color: $color-white;
    }
}
