$color-white: #ffffff;
$color-gray-light: #d3d3d3;
$color-gray: #6b6b6b;
$color-dark: #303030;
$color-black: #1f1f1f;

$color-blue-lighter: #0080ff;
$color-blue-light: #006cd9;
$color-blue: #003bb1;
$color-blue-darker: #000066;
$color-blue-dark: #001133;

$color-yellow: #ffff00;

$color-orange: #FF9900;

$color-red: #cc2929;

$color-green-light: #88cc00;
$color-green: #669900;

$base: 4px;

$font-family-default: "Montserrat", sans-serif;
